
  <html>
      <head>
          <title> localhost</title>
      </head>
  <body>
  
  <h1>MySql</h1>
  
  <form action="/hello" method="POST">
<input type="text" size="25" maxlength="25" />
<br/>
<br/>
     First name: <input type="text" name="greet">
     <input type="submit" value="add" />
     <br/>
     <input type="radio" name="sex" value="male" /> Male<br />
     <input type="radio" name="sex" value="female" /> Female
<br/>
<br/>
<ol start="2" >
<dl>
<dt><b>OR</b></dt>

<dd>Franc.</dd>
<dt><b>V</b></dt>

<dd> car.</dd>
</dt>
<br/>
<br/>
<a href= "aleks234@yahoo.com">Mail for </a>
<br/>
<br/>


{:name => , :age => , :hone => , :tags => ["music", "books", "hacker"]}

 </form>

<ol start="1" >
<TABLE border="1" cellpadding="5" cellspacing="2">
  
    <TH scope="col" abbr="Name">so</TH>
    <TH scope="col" abbr="Tutor">glamour</TH>
    <TH scope="col">You</TH>
    <TH scope="col">me</TH>
    <TH scope="col">we</TH>
  </TR>
  <TR>

    <TD scope="row">Civil War</TD>
    <TD>John </TD>
    <TD> The course w <EM>6  13th October.</EM> </TD>
    <TD>Hamer</TD>
    <TD>&pound;</TD>
  </TR>
  <TR>

    <TD scope="row"> Introduction  England</TD>
    <TD>Mark</TD>
    <TD>their society. <EM> October.</EM> </TD>
    <TD>Hamer</TD>
    <TD>&pound;</TD>
  </TR>
  <TR>

    <TD scope="row"> Greece</TD>
    <TD>Valerie</TD>
    <TD> first. <EM> October 1997</EM> </TD>
    <TD>Hamer</TD>
    <TD>&pound;</TD>
  </TR>

</table>

 
 </body>
 </html>

