
  <html>
      <head>
          <title> localhost</title>
      </head>
  <body>
  
  <h1>MySql</h1>
  
  <form action="/hello" method="POST">
<input type="text" size="25" maxlength="25" />
<br/>
<br/>
     First name: <input type="text" name="greet">
     <input type="submit" value="Submit" />
     <br/>
     <input type="radio" name="sex" value="male" /> Male<br />
     <input type="radio" name="sex" value="female" /> Female
<br/>
<br/>
<ol start="2" >
<dl>
<dt><b>Fromage</b></dt>
<dd>French word for cheese.</dd>
<dt><b>Voiture</b></dt>
<dd>French word for car.</dd>
</dt>
<br/>
<br/>
<a href= "aleks234@yahoo.com">Mail for </a>
<br/>
<br/>
{:name => , :age => , :hone => , :tags => ["music", "books", "hacker"]}
 </form>
<ol start="1" >
<TABLE border="1" cellpadding="5" cellspacing="2"
 summary="History courses offered in the community of
           Bath arranged by course name, tutor, summary, 
           code, and fee">
  <TR>
    <TH colspan="5" scope="colgroup">Community Courses -- Bath Autumn 1997</TH>
  </TR>
  <TR>
    <TH scope="col" abbr="Name">Course Name</TH>
    <TH scope="col" abbr="Tutor">Course Tutor</TH>
    <TH scope="col">Summary</TH>
    <TH scope="col">Code</TH>
    <TH scope="col">Fee</TH>
  </TR>
  <TR>
    <TD scope="row">After the Civil War</TD>
    <TD>Dr. John Wroughton</TD>
    <TD>
       The course will examine the turbulent years in England
       after 1646. <EM>6 weekly meetings starting Monday 13th
      October.</EM>
    </TD>
    <TD>H27</TD>
    <TD>&pound;32</TD>
  </TR>
  <TR>
    <TD scope="row">An Introduction to Anglo-Saxon England</TD>
    <TD>Mark Cottle</TD>
    <TD>
       One day course introducing the early medieval
       period reconstruction the Anglo-Saxons and
       their society. <EM>Saturday 18th October.</EM>
    </TD>
    <TD>H28</TD>
    <TD>&pound;18</TD>
  </TR>
  <TR>
    <TD scope="row">The Glory that was Greece</TD>
    <TD>Valerie Lorenz</TD>
    <TD>
     Birthplace of democracy, philosophy, heartland of theater, home of
     argument. The Romans may have done it but the Greeks did it
     first. <EM>Saturday day school 25th October 1997</EM>
    </TD>
    <TD>H30</TD>
    <TD>&pound;18</TD>
  </TR>
</table>

 
 </body>
 </html>

