<html>
    <head>
        <script src="/js/iframe/app.js?<%= rand(1000000) %>"></script>
        <script src="/js/rangy-core.js"></script>
    </head>

    <body>
        Copy your link!
    </body>
</html>
